/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 200;
  margin: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 26px; }

a {
  color: #0c99d5; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: default;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1024px; }

.main-content {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1024px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.subtitle {
  font-size: 16px; }

#avatar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: default;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48px;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  height: 48px; }
  #avatar-wrapper .default-avatar {
    background-image: url("../images/default-avatar.png");
    background-size: 41px 41px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41px;
        -ms-flex: 0 0 41px;
            flex: 0 0 41px;
    height: 41px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #avatar-wrapper .default-avatar {
        background-image: url("../images/default-avatar@2x.png"); } }

.button {
  border: 0;
  border-radius: 4px;
  height: 36px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background 100ms;
          transition: background 100ms;
  font-weight: 200; }
  .button.large {
    font-size: 3.2rem;
    height: 72px; }
  .button.primary {
    color: #fff;
    background: #6fbe4a; }
  .button.special {
    background: none;
    border-radius: 6px;
    color: #0c99d5;
    display: block;
    font-size: 20px;
    font-weight: 200;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 200px; }
    .button.special:hover,
    .button.special:focus {
      background: #e2eaed; }
    .button.special:active {
      background: #d5e1e5; }

#main-footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 80px;
      -ms-flex: 1 1 80px;
          flex: 1 1 80px; }
  #main-footer.wash {
    border-top: 2px solid #000;
    color: #0c99d5;
    background: #e2eaed; }
  #main-footer.light {
    color: #000;
    background: #f3f3f3; }

#cta.sign-up {
  background-image: url("../images/grad-background.png");
  background-size: 1200px 1100px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #0c99d5;
  border-top: 6px solid #fff;
  color: #fff; }
  @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #cta.sign-up {
      background-image: url("../images/grad-background@2x.png"); } }

#cta.add-on {
  background-image: url("../images/grad-background.png");
  background-size: 1200px 1100px;
  border-top: 6px solid #0c99d5;
  color: #0c99d5; }
  @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #cta.add-on {
      background-image: url("../images/grad-background@2x.png"); } }

#cta .firefox-logo {
  background-image: url("../images/firefox-logo.png");
  background-size: 141px 146px;
  height: 146px;
  margin: 6rem 0 2rem;
  width: 141px; }
  @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #cta .firefox-logo {
      background-image: url("../images/firefox-logo@2x.png"); } }

#cta h1 {
  font-size: 8rem;
  line-height: 8rem;
  margin-bottom: 3rem; }

#cta h2 {
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 4rem; }

#cta-layout-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 322px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #cta-layout-wrapper .cta-layout {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1; }
    #cta-layout-wrapper .cta-layout .button {
      width: 100%; }
    #cta-layout-wrapper .cta-layout .fxa-alternate {
      color: #fff;
      display: block;
      font-size: 2rem;
      font-weight: 400;
      padding: 12px 0 30px; }
    #cta-layout-wrapper .cta-layout .cta-legal {
      font-size: 14px;
      margin: 0 24px 0 0; }
  #cta-layout-wrapper .town {
    background-image: url("../images/town.png");
    background-size: 657px 322px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 657px;
        -ms-flex: 0 1 657px;
            flex: 0 1 657px;
    height: 322px;
    position: relative;
    top: 18px;
    width: 657px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #cta-layout-wrapper .town {
        background-image: url("../images/town@2x.png"); } }

#idea-view {
  background-image: url("../images/grad-background.png");
  background-size: 1200px 1100px;
  border-top: 6px solid #0c99d5;
  color: #0c99d5;
  border-top: none; }
  @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #idea-view {
      background-image: url("../images/grad-background@2x.png"); } }

#condensed-branding {
  background-image: url("../images/grad-background.png");
  background-size: 1200px 1100px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #0c99d5;
  color: #fff; }
  @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #condensed-branding {
      background-image: url("../images/grad-background@2x.png"); } }
  #condensed-branding .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: default;
        -ms-flex-direction: default;
            flex-direction: default;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1024px;
    height: 80px; }
  #condensed-branding h2 {
    background-image: url("../images/small-firefox-logo.png");
    background-size: 57px 59px;
    background-repeat: no-repeat;
    height: 57px;
    line-height: 57px;
    padding-left: 72px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #condensed-branding h2 {
        background-image: url("../images/small-firefox-logo@2x.png"); } }

#details {
  margin-top: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.details-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: default;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1024px; }

.idea-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: default;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .idea-controls > * {
    margin-left: 20px; }

.user-count {
  background-image: url("../images/count-avatar.png");
  background-size: 24px 30px;
  background-repeat: no-repeat;
  height: 30px;
  line-height: 30px;
  padding-left: 32px; }
  @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .user-count {
      background-image: url("../images/count-avatar@2x.png"); } }

.details-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: default;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1024px;
  padding-top: 30px; }
  .details-content img:first-child {
    background: #000;
    border: 2px solid #000;
    border-radius: 50%; }
  .details-content h3 {
    margin: 24px 0 12px; }

.details-overview {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 240px;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px; }

.details-description {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 720px;
      -ms-flex: 0 0 720px;
          flex: 0 0 720px; }

.disclaimer {
  font-size: 12px;
  margin-bottom: 18px; }

.measurement {
  list-style: none;
  padding: 0;
  margin: 0; }
  .measurement li {
    background: #f3f3f3;
    padding: 8px;
    border-left: 2px solid #6fbe4a;
    margin-bottom: 2px; }

.contributors {
  list-style: none;
  padding: 0;
  margin: 0; }
  .contributors li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: default;
        -ms-flex-direction: default;
            flex-direction: default;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    padding-bottom: 10px; }
  .contributors .title {
    font-size: 10px; }
  .contributors .contributor {
    padding-left: 10px; }

.stats {
  font-size: 12px;
  width: 100%;
  margin-bottom: 50px; }
  .stats td {
    width: 75%;
    vertical-align: top;
    padding-bottom: 5px; }
  .stats td:first-child {
    width: 25%;
    font-weight: bold; }

#expanded-branding {
  background-image: url("../images/grad-background.png");
  background-size: 1200px 1100px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #0c99d5;
  color: #fff;
  border-bottom: 2px solid black;
  height: 206px;
  background-size: cover; }
  @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #expanded-branding {
      background-image: url("../images/grad-background@2x.png"); } }
  #expanded-branding header {
    background-image: url("../images/small-firefox-logo.png");
    background-size: 57px 59px;
    background-repeat: no-repeat;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 250px;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    margin-top: 20px;
    padding-top: 50px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #expanded-branding header {
        background-image: url("../images/small-firefox-logo@2x.png"); } }
  #expanded-branding #avatar-wrapper {
    margin-top: 20px; }
  #expanded-branding .town-background {
    background-image: url("../images/town2.png");
    background-size: 855px 374px;
    background-position: -40px -102px;
    background-repeat: no-repeat;
    border-bottom: 2px solid #000;
    height: 206px;
    margin-left: -70px;
    left: 70px;
    position: relative;
    width: 744px;
    z-index: 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #expanded-branding .town-background {
        background-image: url("../images/town2@2x.png"); } }

#idea-card-list {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1024px;
  border-bottom: 2px solid #f3f3f3;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
  margin-top: 60px;
  padding-bottom: 50px; }
  @media (min-width: 1024px) {
    #idea-card-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: default;
          -ms-flex-direction: default;
              flex-direction: default;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: top;
      -webkit-align-items: top;
          -ms-flex-align: top;
              align-items: top;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      clear: both;
      margin-left: auto;
      margin-right: auto;
      padding-left: 12px;
      padding-right: 12px;
      max-width: 1024px; } }
  @media (max-width: 1024px) and (min-width: 789px) {
    #idea-card-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: default;
          -ms-flex-direction: default;
              flex-direction: default;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: top;
      -webkit-align-items: top;
          -ms-flex-align: top;
              align-items: top;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      clear: both;
      margin-left: auto;
      margin-right: auto;
      padding-left: 12px;
      padding-right: 12px;
      max-width: 1024px; } }

.idea-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  border-radius: 6px;
  color: #000;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 310px;
      -ms-flex: 0 0 310px;
          flex: 0 0 310px;
  height: 330px;
  padding: 30px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: border 100ms;
          transition: border 100ms;
  width: 310px; }
  .idea-card h3 {
    margin-top: 20px; }
  .idea-card:hover,
  .idea-card:focus {
    border: 3px solid #f3f3f3; }

.idea-preview-image {
  background: #f3f3f3;
  border-radius: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 172px;
      -ms-flex: 0 0 172px;
          flex: 0 0 172px;
  height: 172px;
  position: relative;
  -webkit-transition: all 200ms;
          transition: all 200ms;
  width: 172px;
  z-index: 0; }
  .active .idea-preview-image {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #6fbe4a; }
  .idea-preview-image:before {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    content: 'Get Started';
    font-size: 24px;
    font-weight: 700;
    height: 150px;
    left: 11px;
    line-height: 24px;
    opacity: 0;
    padding: 51px 10px;
    position: absolute;
    text-align: center;
    top: 11px;
    -webkit-transition: opacity 100ms;
            transition: opacity 100ms;
    width: 150px;
    z-index: 1; }
  .active .idea-preview-image:before {
    content: 'View Details'; }
  .active .idea-preview-image:after {
    background-image: url("../images/check.png");
    background-size: 36px 27px;
    background-color: #6fbe4a;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid #fff;
    content: '';
    height: 56px;
    position: absolute;
    right: -6px;
    top: 0;
    width: 56px;
    z-index: 2; }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .active .idea-preview-image:after {
        background-image: url("../images/check@2x.png"); } }
  .idea-card:hover .idea-preview-image:before,
  .idea-card:active .idea-preview-image:before {
    opacity: 1; }
